.week-card {
    border-radius: 10px !important;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    .v-ripple__container {
        .v-ripple__animation.v-ripple__animation--visible.v-ripple__animation--in {
            border-radius: 10px !important;
        }
    opacity: 0.1 !important;
    border-radius: 10px !important;
    }
    display: flex;
    padding: 3% 5% 4% 3% !important;
    flex-direction: column;
    &, &:before {
        border-radius: 10px !important;
    }
}
.title-description-layout {
    flex-grow: 0;
}
.snippet-title {
    font-weight: 400;
}
.snippet-description {
    font-weight: 300;
    margin-bottom: 2%;
    max-width: 100%;
}
.image-layout {
    flex-grow: 1;
}
.week-image {
    border-radius: 10px;
}

.week-card-title {
    display: flex !important;
    flex-shrink: 1 !important;
    flex-grow: 0 !important;
}

.week-card-flex {
    display: flex;
    justify-content: center;
    min-width: max-content !important;
    padding: 5% 0 0 0;
  }